<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.fantouch.demo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- CrashHandler弹出对话框 http://android.35g.tw/?p=191 -->
    
    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="7" />

    <application
        android:name="me.fantouch.libs.crash.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="me.fantouc.libs的Demo"
      >
        <activity
            android:name="me.fantouch.demo.MainMenuActivity"
            android:label="me.fantouc.libs的Demo" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="me.fantouch.demo.TestUpdateHelperActivity"
            android:label="自动更新模块测试" >
        </activity>
        <activity
            android:name="me.fantouch.demo.TestLogActivity"
            android:label="Log,Elog对比测试" >
        </activity>
        <activity
            android:name="me.fantouch.demo.TestCrashActivity"
            android:label="测试崩溃处理模块" >
        </activity>
        <activity
            android:name="me.fantouch.demo.TestIndicativeRadioGpActivity"
            android:label="带游标的RadioGroup" >
        </activity>
        <activity
            android:name="me.fantouch.demo.TestIndicativeRadioGpByCodeActivity"
            android:label="带游标的RadioGroupByCode" >
        </activity>
        <activity
            android:name="me.fantouch.demo.TestIOSTitleBarActivity"
            android:label="IOS风格标题栏" >
        </activity>
        <activity
            android:name="me.fantouch.demo.TestMultiPagerViewActivity"
            android:label="多个View的ViewPager" >
        </activity>
        <activity
            android:name="me.fantouch.demo.TestScrollAdvActivity"
            android:label="轮播广告组件" >
        </activity>

        <service android:name="me.fantouch.demo.SendService" >
        </service>
    </application>

</manifest>